/* 그룹 선택자 */
p, #title, .red {
    color: red;
}

/* 자식 선택자 */
.box > p {
    color: blue;
}

/* 하위 선택자 */
div p {
    color: green;
}

/* 인접 형제 선택자 */
h1+h2 {
    color: blueviolet;
}

/* 일반 형제 선택자 */
h3 ~ h4 {
    color: brown;
}