:root {
    --color-sky: #D3EEFE;
    --color-commander: pink;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 600px;
    margin: auto;
    background-color: var(--color-sky);
}

.commander {
    border-radius: 50%;
    background-color: var(--color-commander);
}

.second {
    display: flex;
    justify-content: center;
    width: 100%;
}

.third-line {
    display: flex;
    justify-content: center;
    width: 100%;
}